services:
  fake-gcs-server:
    image: fsouza/fake-gcs-server
    container_name: fake-gcs-server
    command: -scheme http -port 4443
    ports:
      - "4443:4443"
    volumes:
      - ./data:/data
    restart: unless-stopped
