services:
  mysql:
    image: mysql:8.0
    container_name: mysql
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: testdb
      MYSQL_USER: hoge
      MYSQL_PASSWORD: fuga
      TZ: 'Asia/Tokyo'
    volumes:
      - ./data/my.cnf:/etc/mysql/conf.d/my.cnf
      - ./data/sql:/sql
      - mysql_data:/var/lib/mysql
    ports:
      - "3306:3306"
    restart: unless-stopped
    command: --default-authentication-plugin=mysql_native_password

volumes:
  mysql_data:
